
[submodule "software/Flash-X"]
	path = software/Flash-X
	url = git@github.com:Flash-X/Flash-X.git
[submodule "software/AMReX"]
	path = software/AMReX
	url = git@github.com:AMReX-codes/amrex.git
[submodule "software/FlashKit"]
	path = software/FlashKit
	url = git@github.com:akashdhruv/FlashKit.git
[submodule "software/HDF5"]
	path = software/HDF5
	url = git@github.com:HDFGroup/hdf5.git
