__pycache__
*hdf5*
*.dat
*.png
!*.log
!*.csv
*.out
amr_*
Backtrace*
job.target
flashx
unitTest*
core*
__pycache__
*.ipynb_checkpoints
!simulation/PoolBoiling/Example2D/jobnode.archive/2022-10-26-sedona/INS_Pool_Boiling_hdf5_plt_cnt_0001
